.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
*~
*.sw[po]
**/*.xcodeproj/xcuserdata
/_release/
**/*.xcuserdata/*
provisioning/*
_data
server
_releases
**/xcuserdata
vendor/Pods
